<app-adminheader></app-adminheader>





<table>
    <tr><th>Course Name</th><th>Remove Technology</th></tr>
    <tr *ngFor = "let course of courses">
     
      <td>{{course.course_name}}</td>
      
      <td><button type="button" class="btn btn-danger" onclick="alert('Technology Removed Successfully')"  (click) = "delete_employee(course._id)"><i class="fa fa-remove"></i>Remove</button></td>
 
    </tr>  
    
  </table>    
 <div class="a"> 
     <button type="button" class="btn btn-info">Add</button>
    </div>  
 

    <app-footer></app-footer>