<app-adminheader></app-adminheader>




<table>
    <tr>
        <td>
          Mean Stack </td>
        <td>
        <button type="button" class="btn btn-info" onclick="alert('Technology Added Successfully')">Add</button>
        </td>
        <td>  
            <button type="button" class="btn btn-danger" onclick="alert('Technology Removed Successfully')">Remove</button>
        </td>
    </tr>  
         
    <tr>
    <td>
    TypeScript </td>
    <td>
    <button type="button" class="btn btn-info" onclick="alert('Technology Added Successfully')">Add</button>
    </td>
    <td>  
    <button type="button" class="btn btn-danger" onclick="alert('Technology Removed Successfully')">Remove</button>
    </td>
    </tr>       
        
    <tr>
    <td>
    java </td>
    <td>
    <button type="button" class="btn btn-info" onclick="alert('Technology Added Successfully')">Add</button>
    </td>
    <td>  
    <button type="button" class="btn btn-danger" onclick="alert('Technology Removed Successfully')">Remove</button>
    </td>
    </tr>      
    <tr>
    <td>
      Mongo db </td>
    <td>
    <button type="button" class="btn btn-info" onclick="alert('Technology Added Successfully')">Add</button>
    </td>
    <td>  
        <button type="button" class="btn btn-danger" onclick="alert('Technology Removed Successfully')">Remove</button>
    </td>
    </tr>      
    <tr>
        <td>
          Python </td>
        <td>
        <button type="button" class="btn btn-info" onclick="alert('Technology Added Successfully')">Add</button>
        </td>
        <td>  
            <button type="button" class="btn btn-danger" onclick="alert('Technology Removed Successfully')">Remove</button>
        </td>
    </tr>    
    <tr>
            <td>
              java </td>
            <td>
            <button type="button" class="btn btn-info" onclick="alert('Technology Added Successfully')">Add</button>
            </td>
            <td>  
                <button type="button" class="btn btn-danger" onclick="alert('Technology Removed Successfully')">Remove</button>
            </td>
        </tr>      
        <tr>
                <td>
                  TypeScript </td>
                <td>
                <button type="button" class="btn btn-info" onclick="alert('Technology Added Successfully')">Add</button>
                </td>
                <td>  
                    <button type="button" class="btn btn-danger" onclick="alert('Technology Removed Successfully')">Remove</button>
                </td>
            </tr>    
            <tr>
                    <td>
                      React</td>
                    <td>
                    <button type="button" class="btn btn-info" onclick="alert('Technology Added Successfully')">Add</button>
                    </td>
                    <td>  
                        <button type="button" class="btn btn-danger" onclick="alert('Technology Removed Successfully')">Remove</button>
                    </td>
                </tr>  
                <tr>
                        <td>
                          Oracle </td>
                        <td>
                        <button type="button" class="btn btn-info" onclick="alert('Technology Added Successfully')">Add</button>
                        </td>
                        <td>  
                            <button type="button" class="btn btn-danger" onclick="alert('Technology Removed Successfully')">Remove</button>
                        </td>
                    </tr>              
    </table>    
    <app-footer></app-footer>