<app-userheader></app-userheader>
<h1>Vinoth</h1>
<h3>Vinoth is Partner at Blinklane Consulting and Gladwell Academy</h3>
<p>Vinoth has worked with various large global organizations helping them in SAFe /agile transformation. In the past few years he was involved in SAFe/Agile transformation with Philips, Siemens, Volvo, Symphony Teleca (Harman) Aptean, Consona and others. He has launched many ARTs (Agile Release Trains) and also facilitated and coached over 25 program increments.He has 18+ years of experience in the industry through which he brought in strong management background and versatile experience in Agile Coaching. Agile transformation, Change management, Agile assessment, Agile metrics definition and deployment. He is also a speaker in many agile conferences and meetups. He was awarded agile coach of the year 2017 by Unicom.
</p>

<h3>Specializations:</h3>
<ul>
<li>Node.js</li>
<li>Javascript</li>
<li>MEAN stack</li>
</ul>  
<h3>Email Address</h3>
Vinoth@gmail.com
<br><br>
<button class="button">Propose Training</button>
<button class="button1" routerLink="/usertrainersearch" routerLinkActive="active">Cancel</button>

<app-footer></app-footer>