<app-header></app-header>
<h1>Gowtham</h1>
<h3>Gowtham is a trainer at Gladwell Academy</h3>
<p>He is certified SPCT (SAFe Program Consultant Trainer) and a leader with a vision to bring in great difference and excellence in the organization there by multiplying business/value to achieve greater heights.

        18 years of experience in the IT industry through which he brought in strong management background and versatile experience in Agile Coaching.
        
        
        
        Software Project Management, Support, Operations management, customer management, process management, people management and vendor/partner management.
        
        Anand has been conducted SAFe Agilist certification training globally to more than 500 professionals in the last 15 months with a pass rate of 99%.
</p>

<h3>Specializations:</h3>
<ul>
<li>React</li>
<li>.Net</li>
<li>MEAN stack</li>
</ul>  
<h3>Email Address</h3>
gowtham@gmail.com
<br><br>
<button class="button">Propose Training</button>
<button class="button1" routerLink="/trainersearch" routerLinkActive="active">Cancel</button>
<app-footer></app-footer>