<app-trainerheader></app-trainerheader>
<form (ngSubmit)="submit_form_data()" #form1="ngForm"  class="modal-content">
 <div class="container">    
        <h1>Signup for Mentor</h1>
              <p>Please fill in this form to create an account.</p>
              <br>
              <label>User Name</label><br>
              <input type="text" [(ngModel)]="user_name" name="user_name" #user_name2="ngModel" minlength="3" required placeholder="Enter User Name">
              <span *ngIf="user_name2.invalid && (user_name2.dirty || user_name2.touched)" class="red-text">
                <span *ngIf="user_name2.errors.required"> User Name should not be empty.</span>
                <span *ngIf="user_name2.errors.minlength"> User Name must be at least 3 characters long.</span>
              </span><br><br>
          
       
         
        
             
          
              <label>Email Id</label><br>
              <input type="text" [(ngModel)]="email_id" name="email_id" #email_id2="ngModel" required placeholder="Enter Email Id" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$">
              <span *ngIf="email_id2.invalid && (email_id2.dirty || email_id2.touched)" class="red-text">
                <span *ngIf="email_id2.errors.required"> Email Id should not be empty.</span>
                <span *ngIf="email_id2.errors.pattern"> This is not a valid Email Id!</span>
              </span><br><br>
          
    
            
        
               <label for="Experience"><b>Experience</b></label>
               <br><br>
               <input list="Experience"  placeholder="Years of Experience"  [(ngModel)]="exp" name="exp" #exp2="ngModel" required  class="form-control">
               <span *ngIf="exp2.invalid && (exp2.dirty || exp2.touched)" class="red-text">
                   <span *ngIf="exp2.errors.required">Experience is required</span>
               </span>
             <datalist id="Experience">
              <option value="less than a year">
              <option value="2 years">
              <option value="3 years">
              <option value="4 years">
              <option value="more than 5 years">
            </datalist><br><br>
        
              
          
          
               <label for="LinkedIn"><b>LinkedIn URL</b></label>
              <input type="text" placeholder="Enter LinkedIn URL" [(ngModel)]="linkedin_url" name="linkedin_url" #linkedin_url2="ngModel">   
              
     
              <label for="Mobilenumber"><b>Mobile Number</b></label>
              <input type="text" placeholder="Enter Your Mobile Number" [(ngModel)]="mob_num" name="mob_num" minlength="10" #mob_num2="ngModel" required>
              <span *ngIf="mob_num2.invalid && (mob_num2.dirty || mob_num2.touched)" class="red-text">
                    <span *ngIf="mob_num2.errors.required"> Mobile number is required</span>
                    <span *ngIf="mob_num2.errors.minlength">Mobile number must be 10 digits</span>
                  </span><br><br>
                                                                           
          
          
                
               <label for="Timezone"><b>List of Timezone</b></label>
               <br><br>
               <input list="Timezone" placeholder="Select Timezone" [(ngModel)]="timezone" name="timezone" #timezone2="ngModel" class="form-control"> 
               <span *ngIf="timezone2.invalid && (timezone2.dirty || timezone2.touched)" class="red-text">
                    <span *ngIf="timezone2.errors.required">Timezone is required</span>
                </span>
               <datalist id="Timezone">
              <option value="9am-12pm">
              <option value="1pm-4pm">
              <option value="5pm-8pm">
            </datalist><br><br>
   
            <label for="List of Technology"><b>List of Technology</b></label>
            <br><br>
            <input list="Technology" placeholder="Select Technology " [(ngModel)]="Technology" name="Technology" #Technology2="ngModel" class="form-control"> 
            <span *ngIf="Technology2.invalid && (Technology2.dirty || Technology2.touched)" class="red-text">
                 <span *ngIf="Technology2.errors.required">Technology is required</span>
             </span>
            <datalist id="Technology">
           <option value="Angular js">
           <option value="Node js">
           <option value="Mongo db">
              <option value="Express.js">
         </datalist><br><br>       
          
      
         <label for="Facilities Provided"><b>Facilities Provided</b></label>
         <br><br>
         <input list="Facilities" placeholder="Select Facilities " [(ngModel)]="Facilities" name="Facilities" #Facilities2="ngModel" class="form-control" > 
         <span *ngIf="Facilities2.invalid && (Facilities2.dirty || Technology2.touched)" class="red-text">
              <span *ngIf="Facilities2.errors.required">Facilities is required</span>
          </span>
         <datalist id="Facilities">
        <option value="Materials for reference">
        <option value="Cloud Lab">

      </datalist><br><br>       
        
          

               
           <label>Password</label><br>
           <input type="password" [(ngModel)]="pass_word" name="pass_word" #pass_word2="ngModel" required placeholder="Enter Password">
           <span *ngIf="pass_word2.invalid && (pass_word2.dirty || pass_word2.touched)" class="red-text">
             <span *ngIf="pass_word2.errors.required"> Password should not be empty.</span>
           </span><br><br>
          
            
              
  
              
              <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Policies</a>.</p>
          
              <div class="clearfix">
                    <button [disabled]="!form1.form.valid"  class="signupbtn">Sign Up</button>
                    <button  class="cancelbtn" routerLink="/trainerpage" routerLinkActive="active" >Cancel</button>
                    </div>
                  
                  <div>
                    <br><p class="red-text">{{message}}</p>
                  </div>
    </div>
</form>
<app-footer></app-footer>