<app-adminheader></app-adminheader>
<table>
    <tr><th>Training Fee</th><th>Commission Percentage</th><th>Received/Pending</th><th>Change Commission</th></tr>
    <tr *ngFor = "let commission of commissions">
      <td>{{commission.training_fee}}</td>
      <td>{{commission.commission_percentage}}</td>
      <td>{{commission.received_pending}}</td>
     
     
      <td><button type="button" class="btn btn-info" [routerLink] = "['/update_commission', commission._id]"><i class="fa fa-pencil fa-fw" aria-hidden="true"></i>Change Commission percentage</button></td>
    </tr>
  </table>   
<app-footer></app-footer>

 
   
   
   
    
    