<app-header></app-header>
<h1>Prakash</h1>
    <h3>Prakash is senior trainer and coach at Gladwell Academy.</h3>
    <p>Abram mostly aims to reduce redundant complexity in organisations. He reaches this by facilitating group interaction and individual growth supported by visualisations, serious gaming, gamification and online learning platforms. Clients value Abram for his authentic presence and obvious experience, which he both uses to trigger his audience towards new thoughts and behaviors. Abram generates movement and builds tempo.
   </p>
 
    <h3>Specializations:</h3>
    <ul>
    <li>Agile</li>
    <li>Scrum</li>
    <li>Full stack</li>
  </ul>  
  <h3>Email Address</h3>
 prakash@gmail.com
  <br><br>
  <button class="button">Propose Training</button>
  <button class="button1" routerLink="/trainersearch" routerLinkActive="active">Cancel</button>
<app-footer></app-footer>
