<app-adminheader></app-adminheader>
<table>
    <tr>
            <td>
              User1 </td>
            <td>
            <button type="button" class="btn btn-info" onclick="alert('Unblocked the User1 Successfully')">Unblock</button>
            </td>
            <td>  
                <button type="button" class="btn btn-danger" onclick="alert('Blocked the User1 Successfully')">Block</button>
            </td>
        </tr>  
             
<tr>
<td>
  User2 </td>
<td>
<button type="button" class="btn btn-info" onclick="alert('Unblocked the User2 Successfully')">Unblock</button>
</td>
<td>  
    <button type="button" class="btn btn-danger" onclick="alert('Blocked the User2 Successfully')">Block</button>
</td>
</tr>       
            
<tr>
    <td>
      User3 </td>
    <td>
    <button type="button" class="btn btn-info" onclick="alert('Unblocked the User3 Successfully')">Unblock</button>
    </td>
    <td>  
        <button type="button" class="btn btn-danger" onclick="alert('Blocked the User3 Successfully')">Block</button>
    </td>
</tr>      
<tr>
        <td>
          User4 </td>
        <td>
        <button type="button" class="btn btn-info" onclick="alert('Unblocked the User4 Successfully')">Unblock</button>
        </td>
        <td>  
            <button type="button" class="btn btn-danger" onclick="alert('Blocked the User4 Successfully')">Block</button>
        </td>
    </tr>      
    <tr>
            <td>
             User5 </td>
            <td>
            <button type="button" class="btn btn-info" onclick="alert('Unblocked the User5 Successfully')">Unblock</button>
            </td>
            <td>  
                <button type="button" class="btn btn-danger" onclick="alert('Blocked the User5 Successfully')">Block</button>
            </td>
        </tr>    
                  
</table>    
       
<app-footer></app-footer>