<app-userheader></app-userheader>
<h1>Aashish</h1>
<h3>Aashish is Partner at Blinklane Consulting and Gladwell Academy</h3>
<p>Aashish is certified SPCT (SAFe Program Consultant Trainer), Agile Master and is a well-known Agilist in the community. He has written the top100 book in The Netherlands on Scrum: “The power of Scrum”, which has been translated in 4 languages. Eelco has been at the front of the Agile community for more than 15 years now. He has helped Philips in its transformation to Scrum and Agile, where he worked with the Agile Center of Excellence and trained more than 1000 people. Currently Eelco accompanies an Agile/SAFe transformation at ASML.

        With an impressive list aimed at large businesses, (senior) management and program/project management, Eelco is renowned for his Agile workshops. He is also known speaker at both in-house and public events. Recent events include: CIO Day in Holland, ALE2011 in Berlin, JFall in Holland diverse business events at Rabobank, Agile consortium, Nationale-Nederlanden, Essent, Achmea SAP, and XPDays (Madrid).
        
        Eelco is an Agile management thinker, program manager for change programs and creative thought leader for Agile practices, principles and behavior. His ability to change mindsets alongside process and structure is valuable for any large change program.
        Since July 2017, Eelco is the first Dutchman to be accredited as an official SPCT. This allows him to train SAFe Program Consultants (SPC4).
</p>
<h3>Specializations:</h3>
<ul>
  <li>Java</li>
  <li>Mongodb</li>
  <li>Python</li>
</ul>  
<h3>Email Address</h3>
aashish@gmail.com
<br><br>
<button class="button" routerLink="/trainernotification" routerLinkActive="active" >Propose Training</button>
<button class="button1" routerLink="/usertrainersearch" routerLinkActive="active">Cancel</button>     
<app-footer></app-footer>