<app-adminheader></app-adminheader>
      <table>
        <tr>
                <td>
                        Trainer1 </td>
                <td>
                <button type="button" class="btn btn-info" onclick="alert('Unblocked the  Trainer1 Successfully')">Unblock</button>
                </td>
                <td>  
                    <button type="button" class="btn btn-danger" onclick="alert('Blocked the  Trainer1 Successfully')">Block</button>
                </td>
            </tr>  
                 
 <tr>
    <td>
            Trainer2 </td>
    <td>
    <button type="button" class="btn btn-info" onclick="alert('Unblocked the  Trainer2 Successfully')">Unblock</button>
    </td>
    <td>  
        <button type="button" class="btn btn-danger" onclick="alert('Blocked the  Trainer2 Successfully')">Block</button>
    </td>
</tr>       
                
<tr>
        <td>
                Trainer3 </td>
        <td>
        <button type="button" class="btn btn-info" onclick="alert('Unblocked the  Trainer3 Successfully')">Unblock</button>
        </td>
        <td>  
            <button type="button" class="btn btn-danger" onclick="alert('Blocked the  Trainer3 Successfully')">Block</button>
        </td>
    </tr>      
    <tr>
            <td>
                    Trainer4 </td>
            <td>
            <button type="button" class="btn btn-info" onclick="alert('Unblocked the  Trainer4 Successfully')">Unblock</button>
            </td>
            <td>  
                <button type="button" class="btn btn-danger" onclick="alert('Blocked the  Trainer4 Successfully')">Block</button>
            </td>
        </tr>      
        <tr>
                <td>
                 Trainer5 </td>
                <td>
                <button type="button" class="btn btn-info" onclick="alert('Unblocked the  Trainer5 Successfully')">Unblock</button>
                </td>
                <td>  
                    <button type="button" class="btn btn-danger" onclick="alert('Blocked the  Trainer5 Successfully')">Block</button>
                </td>
            </tr>    
                      
</table>    
               
<app-footer></app-footer>