
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" routerLink="/homepage">Ur Mentor</a>
      </div>
      <ul class="nav navbar-nav">
       

            
        <li><a  routerLink="/userpage" routerLinkActive="active">Courses</a></li>
        <li><a  routerLink="/usertrainersearch" routerLinkActive="active">Search Trainers</a></li>
         <li><a  routerLink="/usercurrenttraining" routerLinkActive="active">Current Training</a></li>
          <li><a routerLink="/usercompletedtraining" routerLinkActive="active">Completed Training</a></li>
           
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a  routerLink=" "><span class="glyphicon glyphicon-bell"></span> Notification</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      </ul>
    </div>
  </nav>