<app-adminheader></app-adminheader>
<table>
        <tr>
                <th>Trainer Name</th>
                <th>Training Fee</th>
                <th>Payment Received</th>
                <th>Payment Pending</th>
       </tr>    
        <tr *ngFor = "let payment of payments">
          <td>{{payment.trainer_name}}</td>
          <td>{{payment.trainer_fee}}</td>
          <td>{{payment.payment_received}}</td>
          <td>{{payment.payment_pending}}</td>
        </tr>
      </table>


         
    <app-footer></app-footer>
    