<app-header></app-header>
<div class="container">
    <div class="row">
        <div class="search-trainer">
            <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
                placeholder="&#61442;  Search here for Mentor details">
        </div>
       
        <table class="table table-striped"  >
            <thead>
                <tr>
                    <th>Trainer_Image</th>
                    <th>Trainer_Name</th>
                    <th>Years_of_Experience</th>
                    <th>Completed_Training</th>
                    <th>Fee_Charged</th>
                    <th>Time_Slot</th>
                  <th>Specializations</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let trainer of trainers | filter:searchText">
                        <td><img src='{{trainer.image}}'></td>
                    <td >{{trainer.Trainer_Name}}</td>
                    <td>{{trainer.Years_of_Experience}}</td>
                    <td >{{trainer.Completed_Training}}</td>
                    <td>{{trainer.Fee_Charged}}</td>
                    <td>{{trainer.Time_Slot}}</td>
                    <td>{{trainer.Specializations}}</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>
<app-footer></app-footer>