<app-header></app-header>
<app-search></app-search>
<div class="completed">
    <table width="130%" >
    <tr>
        <td><img src="./assets/avatar.jpg"></td>
        <td><b>AASHISH</b></td>
        <td><b>Completed Training:</b>3</td>
        <td> <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span></td>
        <td><b>Specializations: </b>
            Java,Mongodb,Python
         </td>
    </tr>
    <tr>
        <td><img src="./assets/avatar.jpg"></td>
        <td><b>VINOTH</b></td>
        <td><b>Completed Training:</b>2</td>
        <td> <span class="fa fa-star checked"></span>
             <span class="fa fa-star checked"></span>
             <span class="fa fa-star "></span>
             <span class="fa fa-star "></span>
             <span class="fa fa-star"></span></td>
        <td><b>Specializations:</b>
            Node.js,Javascript,MEAN stack</td>
    </tr>
    <tr>
        <td><img src="./assets/avatar.jpg"></td>
        <td><b>PRAKASH</b></td>
        <td><b>Completed Training:</b>5</td>
        <td> <span class="fa fa-star checked"></span>
             <span class="fa fa-star checked"></span>
             <span class="fa fa-star checked"></span>
             <span class="fa fa-star checked"></span>
             <span class="fa fa-star"></span></td>
        <td><b>Specializations:</b>
            Agile,Scrum,Full stack</td>
    </tr>
    <tr>
        <td><img src="./assets/avatar.jpg"></td>
        <td><b>SHAMIM</b></td>
        <td><b>Completed Training:</b>10</td>
        <td> <span class="fa fa-star checked"></span>
             <span class="fa fa-star checked"></span>
             <span class="fa fa-star checked"></span>
             <span class="fa fa-star checked"></span>
             <span class="fa fa-star checked"></span></td>
        <td><b>Specializations:</b>.Net,React,MEAN stack</td>
    </tr>
    <tr>
        <td><img src="./assets/avatar.jpg"></td>
        <td><b>GOWTHAM</b></td>
        <td><b>Completed Training:</b>4</td>
        <td><span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star "></span>
        </td>
        <td><b>Specializations:</b>.Net,Python,MEAN stack</td>
    </tr>
    </table>
    </div>  
    <app-footer></app-footer>
    
    
      