<app-header></app-header>
<div class="completed">
    <table width="100%" >
    <tr>
        <td><img src="./assets/avatar.jpg"></td>
        <td><b>AASHISH</b></td>
        <td>Completed Training:3</td>
        <td> <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span></td>
        <td><a routerLink="/trainer1profile" routerLinkActive="active"class="btn btn-primary">See Profile</a></td>
    </tr>
    <tr>
        <td><img src="./assets/avatar.jpg"></td>
        <td><b>VINOTH</b></td>
        <td>Completed Training:2</td>
        <td> <span class="fa fa-star checked"></span>
             <span class="fa fa-star checked"></span>
             <span class="fa fa-star "></span>
             <span class="fa fa-star "></span>
             <span class="fa fa-star"></span></td>
        <td><a routerLink="/trainer2profile" routerLinkActive="active" class="btn btn-primary">See Profile</a></td>
    </tr>
    <tr>
        <td><img src="./assets/avatar.jpg"></td>
        <td><b>PRAKASH</b></td>
        <td>Completed Training:5</td>
        <td> <span class="fa fa-star checked"></span>
             <span class="fa fa-star checked"></span>
             <span class="fa fa-star checked"></span>
             <span class="fa fa-star checked"></span>
             <span class="fa fa-star"></span></td>
        <td><a routerLink="/trainer3profile" routerLinkActive="active" class="btn btn-primary">See Profile</a></td>
    </tr>
    <tr>
        <td><img src="./assets/avatar.jpg"></td>
        <td><b>SHAMIM</b></td>
        <td>Completed Training:10</td>
        <td> <span class="fa fa-star checked"></span>
             <span class="fa fa-star checked"></span>
             <span class="fa fa-star checked"></span>
             <span class="fa fa-star checked"></span>
             <span class="fa fa-star checked"></span></td>
        <td><a routerLink="/trainer4profile" routerLinkActive="active" class="btn btn-primary">See Profile</a></td>
    </tr>
    <tr>
        <td><img src="./assets/avatar.jpg"></td>
        <td><b>GOWTHAM</b></td>
        <td>Completed Training:4</td>
        <td><span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star "></span>
        </td>
        <td><a routerLink="/trainer5profile" routerLinkActive="active" class="btn btn-primary">See Profile</a></td>
    </tr>
    </table>
    </div>  
    <app-footer></app-footer>
    
