button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
    opacity: 0.9;
  }
  
  button:hover {
    opacity:1;
  }
  .container {
      font-family: cursive;
    background-color: white;
    width: 600px;
   position: relative;
    bottom: 30px;
    margin:  190px;
    border-style: ridge;
  }