<app-trainerheader></app-trainerheader>
  <div class="container">
  
    <h1>Edit Skill</h1>
    <label for="List of Technology"><b>List of     Technology</b></label>
       <br><br>
   <input type="checkbox" name="Technology" value="Technology">Angular js<br>
   <input type="checkbox" name="Technology" value="Technology">Node js<br>
  <input type="checkbox" name="Technology" value="Technology">Node.js<br>
  <input type="checkbox" name="Technology" value="Technology">Mongo db<br>
  <input type="checkbox" name="Technology" value="Technology">Express.js<br><br>
  <button type="submit" class="signupbtn">Save Changes</button>

</div>
<app-footer></app-footer>