
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand">Ur Mentor</a>
      </div>
      <ul class="nav navbar-nav">
       
        <li><a routerLink="/trainerpage" routerLinkActive="active">Home</a></li>
            
        <li><a routerLink="/editskilltrainer" routerLinkActive="active">Edit Skills</a></li>
         <li><a  routerLink="/currenttrainingtrainer" routerLinkActive="active">Current Training</a></li>
          <li><a routerLink="/completedtrainingtrainer" routerLinkActive="active">Completed Training</a></li>
           
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-bell"></span> Notification</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      </ul>
    </div>
  </nav>